<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Employee emp = new Employee() -->
	<bean id="emp1" class="com.training.spring.Employee">
		<!-- emp.setEmployeeName ("Devyn"); -->
		<property name="employeeName" value="Devyn">
		</property>
	</bean>


	<bean id="emp2" class="com.training.spring.Employee">
		<constructor-arg name="employeeName" value="Trey">
		</constructor-arg>
	</bean>


	<bean id="emp3" class="com.training.spring.Employee">
		<constructor-arg name="employeeName" value="Joel">
		</constructor-arg>
	</bean>

	<bean id="cust" class="com.training.spring.Customer">
		<property name="customerId" value="1999"></property>
		<property name="customerName" value="Joseph"></property>
		<property name="customerAddress" value="Newyork"></property>
		<property name="billAmount" value="189900"></property>
	</bean>

	<bean id="address1" class="com.training.spring.Address">
		<property name="addressId" value="12"></property>
		<property name="city" value="puyallup"></property>
		<property name="state" value="WA"></property>
		<property name="zipCode" value="98373"></property>
	</bean>
	<bean id="address2" class="com.training.spring.Address">
		<constructor-arg name="addressId" value="11"></constructor-arg>
		<constructor-arg name="city" value="boston"></constructor-arg>
		<constructor-arg name="state" value="NewYork"></constructor-arg>
		<constructor-arg name="zipCode" value="90278"></constructor-arg>
	</bean>
</beans>